@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner_img_area::after{ 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f72;
    left: 0;
    top: 0;
}

.service_item_box img{
    width: 60px;
    height: 60px;
}